:root {
  --app-bg: #f5f3f3;
  --calculator-bg: #22252d;
  --operator-bg: #2a2d37;
  --button-bg: #282b33;
  --button-color-primary: #fafafd;
  --button-color-secondary-one: #3cd9bd;
  --button-color-secondary-two: #d07176;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: none;
}

::-webkit-scrollbar-track {
  background-color: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background, color 0.03s ease;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  min-height: 100vh;
  width: 100%;
  background-color: var(--app-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}
.calculator-container {
  height: 500px;
  min-height: 500px;
  width: 270px;
  border-radius: 20px;
  background-color: var(--calculator-bg);
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}
@media screen and (max-width: 280px) {
  .calculator-container {
    width: 200px;
  }
}
